<!DOCTYPE html>
<html>
<head>
  <title>Dynamic Forms</title>
</head>
<style>
    .form-container{
        margin: 20px 10px;
    }

    .form-group{
        margin: 8px 2px;
    }

    .ticket-fields-container {
        margin-bottom: 20px;
    }
</style>
<body>
<%= render 'comman/nav'%>
<%= form_with model: @booking, url: bookings_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :date, value: Date.today %>
  <%= form.hidden_field :mode_type, value: params[:bookingable_type] %>
  <%= form.hidden_field :bookingable_type, value: params[:bookingable_type] %>
  <%= form.hidden_field :bookingable_id, value: params[:bookingable_id] %>
   
  <%= form.fields_for :tickets do |f| %>
    <%= render 'ticket_fields', f: f %>
  <% end %>
  <div id="forms-container">
    
  </div>
  <button type="button" id="add-form-btn"> Add Traveller </button>
  <%= form.submit 'Book Tickets' %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addFormButton = document.getElementById('add-form-btn');
    const formsContainer = document.getElementById('forms-container');
    let formIndex = <%= @booking.tickets.size %>; 

    addFormButton.addEventListener('click', () => {
      const newForm = document.createElement('div');
        newForm.className = 'ticket-fields-container';

        newForm.innerHTML = `
          <div class="form-container">
            <div class="form-group">
              <label for="booking_tickets_attributes_${formIndex}_name">Name:</label>
              <input type="text" name="booking[tickets_attributes][${formIndex}][name]" id="booking_tickets_attributes_${formIndex}_name">
            </div>
            <div class="form-group">
              <label for="booking_tickets_attributes_${formIndex}_age">Age:</label>
              <input type="number" name="booking[tickets_attributes][${formIndex}][age]" id="booking_tickets_attributes_${formIndex}_age">
            </div>
            <div class="form-group">
              <label>Gender:</label>
              <input type="radio" name="booking[tickets_attributes][${formIndex}][gender]" value="male" id="booking_tickets_attributes_${formIndex}_gender_male">
              <label for="booking_tickets_attributes_${formIndex}_gender_male">Male</label>
              <input type="radio" name="booking[tickets_attributes][${formIndex}][gender]" value="female" id="booking_tickets_attributes_${formIndex}_gender_female">
              <label for="booking_tickets_attributes_${formIndex}_gender_female">Female</label>
            </div>
          </div>
        `;
        formsContainer.appendChild(newForm);
        formIndex++;
    });
  });
</script>
</body>
</html>
