<div>
    <p> Booking Id : <%= @booking.id %> </p>
    <p> Booking Date : <%= @booking.date %> </p>
    <p> Type : <%= @booking.mode_type %> </p>
    <p> Bus Number : <%= @booking.bus_id %> </p>
    <p> Ticket id : <%= @ticket.id %> </p>
    <p> Name : <%= @ticket.name %> </p>
    <p> Age : <%= @ticket.age %> </p>
    <p> Gender : <%= @ticket.gender %> </p>
</div>
