<html>
  <head>
    
  </head>
  <body>
    <div class="main-container">
      <div class="d-flex justify-content-center align-items-center" style="padding-top:100px;">
      <div class="text-center" >
        <h1> Search Your Buses </h1>
        <%= form_with url: "/show", method: :get do |form| %>
        <%= form.text_field :source , placeholder: "Enter your source", required: true %>
        <%= form.text_field :destination , placeholder: "Enter your destination", required: true %>
        <%= form.date_field :date ,required: true%>
        <%= form.submit "search" %>
        <% end %>  
      </div>
    </div>
    </div>
  </body>
</html>


