
<div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <%= image_tag("bus1.jpg", :alt => "rss feed" ,:size => "1300x600") %>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag("flight1.jpg", :alt => "rss feed" ,:size => "1300x600") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("train1.jpg", :alt => "rss feed" ,:size => "1300x600") %>
    </div>
    <div class="carousel-item active" data-bs-interval="10000">
      <%= image_tag("bus1.jpg", :alt => "rss feed" ,:size => "1300x600") %>
    </div>  
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag("flight2.jpg", :alt => "rss feed" ,:size => "1300x600") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("train2.jpg", :alt => "rss feed" ,:size => "1300x600") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h2 class='text-center my-4'>Get Some Offers</h2>
<div class="row row-cols-1 row-cols-md-2 g-4 my-4">
  <div class="col w-25">
    <div class="card">
      <%= image_tag("bus1.jpg", :alt => "rss feed") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col w-25">
    <div class="card">
      <%= image_tag("bus2.jpg", :alt => "rss feed" ) %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col w-25">
    <div class="card">
      <%= image_tag("bus3.jpg", :alt => "rss feed" ) %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col w-25">
    <div class="card">
      <%= image_tag("train1.jpg", :alt => "rss feed") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
   <div class="col w-25">
    <div class="card">
      <%= image_tag("train2.jpg", :alt => "rss feed") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col w-25">
    <div class="card">
      <%= image_tag("train3.jpg", :alt => "rss feed" ) %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col w-25">
    <div class="card">
      <%= image_tag("flight1.jpg", :alt => "rss feed" ) %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col w-25">
    <div class="card">
      <%= image_tag("flight2.jpg", :alt => "rss feed") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
<%= render :partial => 'comman/footer' %>

