<html>
   <head>
      <style>
	 .not-found{
	      margin-top:100px;
	      margin-left:300px;
	  }
      </style>
   </head>
   <body>
		<% if @buses.length === 0 %>
			<h3 class='not-found'> Oops! Bus route is not avaliable! </h3>
		<% else %>
		<table class="table container">
			<thead>
	  		<tr>
	    		<th scope="col"> Bus Number </th>
	    		<th scope="col"> Bus Name </th>
	    		<th scope="col"> Total Seats </th>
				<th scope="col"> Remaning seats </th>
	    		<th scope="col"> Departure Time </th>
	    		<th scope="col"> Arrival Time </th>
	    		<th scope="col"> Ticket Price </th>
	    		<th scope="col"> Bus Booking </th>
	  		</tr>
			</thead>
			<tbody>
	  		<% @buses.each do |bus| %>
	    		<tr>
	       		<td> <%= bus.id %> </td>
	       		<td> <%= bus.name %> </td>
	       		<td> <%= bus.total_seets %> </td>
		   		<td> <%= bus.remaning_seats %> </td>
	       		<td> <%= bus.departure_time.to_fs(:time) %> </td>
	       		<td> <%= bus.arrival_time.to_fs(:time) %> </td>
	       		<td> <%= bus.price %> </td>
		   		<% if bus.remaning_seats != nil %>
	       			<td> <%= link_to "Book Ticket", new_booking_path(bookingable_id: bus.id,bookingable_type: "Bus", date: params[:date]) %> </td>
		   		<% else %>
		   			<td> Bus is Full </td>
		   		<% end %>
	    		<tr>
	  		<% end %>
			</tbody>
		<table>
		<% end %>
	</body>
</html>


