
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> Booking id </th>
      <th scope="col"> Date </th>
      <th scope="col"> Type </th>
      <th scope="col"> Tickets </th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <th scope="row"> <%= booking.id %> </th>
        <td> <%= booking.date %> </td>
        <td> <%= booking.mode_type %> </td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%= booking.id %>" >
            see tickets
          </button>
            <div class="modal fade" id="modal-<%= booking.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">All Tickets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= booking.bookingable_type %> Name : <%= booking.bookingable.name %> <br>
                      Departure Time : <%= booking.bookingable.departure_time.to_fs( :time ) %> AM <br>
                      Arrival Time :  <%= booking.bookingable.arrival_time.to_fs( :time ) %> PM <br>
                      Price : <%= booking.bookingable.price%> Rs<br>
                      Source : <%= booking.bookingable.direction.source %><br>
                      Destination : <%= booking.bookingable.direction.destination %><br>
                      Distance : <%= booking.bookingable.direction.distance %> Km<br><br>
                    <% booking.tickets.each do |ticket| %>
                      Ticket Id : <%= ticket.id %><br>
                      Seat No : <%= ticket.seat_no %><br>
                      Name : <%= ticket.name %><br>
                      Gender : <%= ticket.gender %> 
                      <br><br>
                    <% end %> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    